packages: [
  "activate-power-mode"
  "advanced-open-file"
  "api-blueprint-preview"
  "atom-beautify"
  "atom-formatter-jsbeautify"
  "atom-ide-ui"
  "atom-javascript-console-snippets"
  "atom-material-syntax"
  "atom-typescript"
  "atom-wx"
  "atom-wxml"
  "auto-complete-wx"
  "auto-detect-indentation"
  "autoclose-html"
  "autocomplete-flow"
  "autocomplete-html-entities"
  "autocomplete-modules"
  "autocomplete-php"
  "autocomplete-ruby"
  "busy-signal"
  "color-picker"
  "css-snippets"
  "csslint"
  "dash"
  "debugger"
  "emmet"
  "es6-javascript"
  "eval-javascript"
  "file-icons"
  "file-types"
  "flow-ide"
  "git-control"
  "git-difftool"
  "git-history"
  "git-plus"
  "gitignore-snippets"
  "go-debug"
  "go-plus"
  "go-signature-statusbar"
  "goto-definition"
  "haskell-grammar"
  "highlight-selected"
  "html2haml"
  "html2jade-plus"
  "hyperclick"
  "ide-flow"
  "indentation-indicator"
  "intentions"
  "jade-beautify"
  "javascript-object-snippets"
  "javascript-snippets"
  "javascript-standard-snippets"
  "js-hyperclick"
  "js-patterns-atom-snippets"
  "jsformat"
  "keyboard-scroll"
  "language-apache"
  "language-api-blueprint"
  "language-babel"
  "language-batch"
  "language-docker"
  "language-dotenv"
  "language-ejs"
  "language-gitignore"
  "language-gradle"
  "language-graphql"
  "language-haml"
  "language-html-swig"
  "language-ini"
  "language-jade"
  "language-javascript-jsx"
  "language-liquid"
  "language-log"
  "language-lua"
  "language-markdown"
  "language-nginx"
  "language-ocaml"
  "language-swift"
  "language-swig"
  "language-thrift"
  "language-vue"
  "lines"
  "linter"
  "linter-api-blueprint"
  "linter-csslint"
  "linter-eslint"
  "linter-htmlhint"
  "linter-json-lint"
  "linter-less"
  "linter-spell"
  "linter-stylelint"
  "linter-swagger"
  "linter-tidy"
  "linter-tslint"
  "linter-ui-default"
  "markdown-scroll-sync"
  "markdown-table-formatter"
  "markdown-writer"
  "merge-conflicts"
  "minimap"
  "minimap-git-diff"
  "minimap-highlight-selected"
  "mixed-indent-warning"
  "new-tab"
  "node-debugger"
  "open-html-in-browser"
  "open-in-github-app"
  "package-sync"
  "pigments"
  "prettier-atom"
  "pretty-json"
  "rails-i18n"
  "rails-snippets"
  "react"
  "react-es6-snippets"
  "react-redux-snippets"
  "react-snippets"
  "ruby-block"
  "script"
  "set-syntax"
  "seti-syntax"
  "seti-ui"
  "smart-tab-name"
  "sort-lines"
  "standardjs-snippets"
  "Stylus"
  "Sublime-Style-Column-Selection"
  "tab-control"
  "tab-switcher"
  "tool-bar"
  "turbo-javascript"
]
