packages: [
  "atom-beautify"
  "atom-formatter-jsbeautify"
  "atom-javascript-console-snippets"
  "atom-material-syntax"
  "atom-material-ui"
  "atom-ternjs"
  "atom-wx"
  "auto-detect-indentation"
  "autoclose-html"
  "autocomplete-html-entities"
  "autocomplete-js-import"
  "autocomplete-module-import"
  "busy-signal"
  "color-picker"
  "css-snippets"
  "es6-javascript"
  "file-icons"
  "file-types"
  "git-difftool"
  "gitignore-snippets"
  "go-debug"
  "go-plus"
  "go-signature-statusbar"
  "highlight-selected"
  "hyperclick"
  "intentions"
  "jade-beautify"
  "javascript-object-snippets"
  "javascript-snippets"
  "javascript-standard-snippets"
  "js-hyperclick"
  "js-patterns-atom-snippets"
  "keyboard-scroll"
  "language-apache"
  "language-babel"
  "language-batch"
  "language-cpp14"
  "language-docker"
  "language-dotenv"
  "language-ejs"
  "language-gitignore"
  "language-gradle"
  "language-graphql"
  "language-haml"
  "language-html-swig"
  "language-ini"
  "language-jade"
  "language-javascript-jsx"
  "language-liquid"
  "language-log"
  "language-lua"
  "language-markdown"
  "language-nginx"
  "language-pug"
  "lines"
  "linter"
  "linter-cpplint"
  "linter-csslint"
  "linter-eslint"
  "linter-gcc"
  "linter-htmlhint"
  "linter-json-lint"
  "linter-stylelint"
  "linter-swagger"
  "linter-tslint"
  "linter-ui-default"
  "markdown-table-formatter"
  "markdown-writer"
  "merge-conflicts"
  "minimap"
  "minimap-git-diff"
  "minimap-highlight-selected"
  "new-tab"
  "open-html-in-browser"
  "open-in-github-app"
  "package-sync"
  "pigments"
  "prettier-atom"
  "pretty-json"
  "rails-i18n"
  "react"
  "react-es6-snippets"
  "react-es7-snippets"
  "react-redux-snippets"
  "react-snippets"
  "ruby-block"
  "script"
  "set-syntax"
  "seti-syntax"
  "seti-ui"
  "sort-lines"
  "standardjs-snippets"
  "Stylus"
  "Sublime-Style-Column-Selection"
  "tab-control"
  "turbo-javascript"
]
